@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-primary: #10B981;
  --color-secondary: #508168;
  --color-tertiary: #FC7C78;
  --color-neutral-bg: #0A0A0A;
}

:root {
  --background: #0A0A0A;
  --foreground: #EDEDED;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/****************************
 * Scrollbar
 ****************************/

::-webkit-scrollbar {
  width: 8px;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.svg-invert-white {
  filter: invert(1) brightness(2);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For the timeline */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.thin-scrollbar::-webkit-scrollbar-track, .mid-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb, .mid-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.12);
  border-radius: 999px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover, .mid-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.16);
}

.mid-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}